body {
    background: radial-gradient(#1515f6, rgb(4, 4, 161));
    margin: 0;
    font-family: sans-serif;
}

.audio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.card {
    background: linear-gradient(#930D0D,#FFD102, #0034C9);
    text-align: center;
    max-width: 600px;
    margin: 50px auto; /* Centrar la tarjeta horizontalmente */
    padding: 20px 10px;
    box-shadow: 10px 10px 10px 5px #930D0D;
    border-radius: 20px;

}

.titulo {
    font-weight: bold;
    text-align: center;
    color:aquamarine ;
    background-color: transparent;
    border: none;
    margin-top: 30px;
}

.title{
    width:60%;
    color: #fffe;
    background: transparent;
    text-shadow: 10px 10px 10px #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    box-sizing: border-box;
    margin-left: 20%;
}

.resumen{
    font-style: italic;
    text-align: justify;
    text-wrap: wrap;
    margin: 10px;
}

.card_subtitulo {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #00f;
    background-color: transparent;
}

.card_frase{
    color: #00f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.box video {
    max-width: 100%;
    width: 40%;
    flex-wrap: wrap;
    height: auto;
}

.video img{
    width: 50px;
    height: auto;
    padding: 0%;
}

.video span{
    font-size: 20px;
    text-align: center;
}

.texto_image{
    width: 55%;
    text-align: justify;
    float: left;
}

.contenedor_image{
    overflow: hidden; /* Para evitar que el contenedor colapse debido al float */
}

.image_entrenador img{
    width: 40%;
    padding-left: 20px;
    padding-top: 50px;
    flex-wrap: wrap;
}

.nombre{
    padding-top: 40px;
}

.información_carlo{
    color: #fff;
    font-weight: bold;
    margin-left: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.card_contenido {
    font-size: 18px;
    padding: 20px;
    background: rgb(2, 2, 173);
    text-align: justify;
    color: #000;
    background-color: transparent;
    font-weight: bold;
}

.card_imagen {
    width: 200px;
    border-radius: 35px;
    display: block;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.nav {
    margin-top: 100px;
    background: radial-gradient(#1515f6, rgb(4, 4, 161));
    text-align: center; /* Alinea los enlaces al centro */
}

.nav__lista {
    margin: 0;
    padding: 5px;
    list-style-type: none; /* Quita los puntos de la lista */
    flex-wrap: wrap;
}

.nav__jugadores{
    display: inline-block;
    margin: 15px;
}

.nav__item {
    display: inline-block;
    margin: 15px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #48e;
    border-radius: 5px;
    margin: 0 5px; /* Añade espaciado entre enlaces */
    transition: background-color 0.3s ease; /* Añade transición suave */
}

.nav__enlace{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #48e;
    border-radius: 5px;
    margin: 0 5px; /* Añade espaciado entre enlaces */
    transition: background-color 0.3s ease; /* Añade transición suave */
}

.nav__enlace:hover{
    background: linear-gradient(#930D0D, #0034C9);
    color: #ff0c;
    font-weight: bold;
}

.nav__link:hover {
    background: linear-gradient(#930D0D, #0034C9);
    color: #ff0c;
    font-weight: bold;
}

.link__button {
    border: 1px solid #48e; /* Añade borde sólido */
    background-color: #48e;
    padding: 8px 8px; /* Ajusta el padding para un botón más grande */
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

#contenido {
    width: 100%;
    height: 100%;
    padding: 20px; /* Espaciado interno */
    margin-left: 0%;
    margin-bottom: 15%;
    margin-top: 1%;
    background-color: transparent; /* Color de fondo */
}


.image_container {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en dispositivos más pequeños*/
    justify-content: center; /* Centra los image-box horizontalmente */
    position: relative;
}

.contenedor {
    overflow: hidden; /* Para evitar que el contenedor colapse debido al float */
}

.texto {
    width: 58%; /* Ancho del contenedor del texto */
    float: left; /* Flotar a la izquierda */
}

.video {
    width: 40%; /* Ancho del contenedor del video */
    float: right; /* Flotar a la derecha */
    flex-wrap: wrap;
}

.image_box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center; /* Alinea el contenido al centro */
    background: linear-gradient(#930D0D, #0034C9);
    border-radius: 10px;
    box-shadow: 0px 0px 20px #FFD102; /* Sombra suave */
    position: relative;
}

.image{
    width: 70%;
    border-radius: 7px;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    box-shadow: 0px 0px 15px #ff0c;
}

.momentos{
    text-align: justify;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-weight: bold;
}

span{
    color: #0ff;
    font-family: sans-serif;
    text-align: justify;
}

li{
    margin-bottom: 10px;
    color: #cccf;
}

h2{
    text-align: center;
    font-size: 32px;
    color: #ccc;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 32px;
    color: #930D0D;
    font-weight: bold;
}

.bandera {
    width: 20%; /* Ajusta el ancho de la bandera según tus necesidades */
    height: auto; /* Mantiene la proporción */
}
.escudo {
    width: 20%; /* Ajusta el ancho de la bandera según tus necesidades */
    height: auto; /* Mantiene la proporción */
}

.image_info p{
    color: #ff0c;
    text-align: left;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer__content, .footer__credit {
    text-align: center;
}

.footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__item {
    margin-bottom: 5px;
}

.footer__credit p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #ff0c;
}

.footer__credit a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #ff0c;
}

@media screen and (max-width: 600px) {

    body{
        margin: 0;
        width: 100%;
    }

    .nav__lista .nav__item,
    .nav__lista .nav__jugadores {
        margin-bottom: 30px; /* Agrega espacio entre los elementos de la lista */
    }

    .nav__item, .nav__jugadores {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: 0; /* Elimina cualquier margen */
        margin-bottom: 10px; /* Agrega un margen inferior entre los elementos */
    }

    .nav__link {
        display: block; /* Muestra los enlaces como bloques para ocupar todo el ancho disponible */
    }
    .title {
        width: 80%;
        margin-left: 10%;
    }
    .box video {
        width: 80%;
    }
    .texto_image, .texto, .video {
        width: 90%;
        float: none;
    }
    .image_entrenador img {
        width: 80%;
    }
    .contenedor2 {
        width: 90%;
    }
    #contenido {
        margin: 5%;
    }
    .image_box {
        max-width: 90%;
    }
    .bandera, .escudo {
        width: 40%;
    }
    .momentos{
        text-align: center;
    }

    .video h3 {
        text-align: center; /* Centra el texto horizontalmente */
        margin: 0 auto; /* Centra el elemento horizontalmente */
    }

    #video2 {
        margin: 15px;
        width: 80%;
    }

    #video1 {
        margin: 15px;
        width: 350px; /* Ancho fijo en píxeles */
        height: 315px; /* Alto fijo en píxeles */
    }
    

    .información_carlo{
        text-align: center;
    }

    .image_entrenador{
        margin-left: 50px;
    }

    #video span{
        margin-left: 10px;
    }

    .image_container {
        flex-direction: column; /* Cambiar la dirección de flexión a vertical en dispositivos móviles */
        align-items: center; /* Centrar las imágenes verticalmente */
        margin: 0;
    }

    .image_box {
        max-width: 250px;
        width: 100%; /* Las imágenes ocuparán todo el ancho disponible */
        height: 100px;
        margin-right: 0;
    }

    .footer {
        position: static; /* Restablece la posición del footer en dispositivos más grandes */
    }


    .titulo{
        text-align: center;
    }

    #contenido{
        margin-left: -30px;
    }

    footer{
        margin: 0;
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1400px) {
    body {
        margin: 0;
        width: 100%;
    }

    .nav__lista {
        display: flex;
        flex-direction: row; /* Dispone los elementos en una fila horizontal */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
        justify-content: space-around; /* Espacia los elementos horizontalmente */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
        gap: 10px; /* Añade espacio entre los elementos */
        padding: 10px; /* Añade padding alrededor del contenedor de navegación */
        background-color: transparent; /* Fondo para la barra de navegación */
        margin-top: 5px;

    }

    .nav__item, .nav__jugadores {
        margin: 10px 5px; /* Espacio alrededor de los elementos */
        margin-top: 5px;
        width: auto; /* Permite que los elementos ocupen solo el ancho necesario */
        background-color: #0ff;
    }

    .nav__link {
        display: block; /* Muestra los enlaces como bloques para ocupar todo el ancho disponible */
        text-decoration: none; /* Elimina el subrayado de los enlaces */
        background-color: transparent; /* Fondo de los enlaces */
        border-radius: 5px; /* Bordes redondeados para los enlaces */
        color: #000; /* Color del texto */
        margin-top: 5px;

    }
    .nav__enlace {
        display: block; /* Muestra los enlaces como bloques para ocupar todo el ancho disponible */
        padding: 10px 20px; /* Añade padding dentro de los enlaces para hacerlos más grandes */
        text-decoration: none; /* Elimina el subrayado de los enlaces */
        background-color: #f0f0f0; /* Fondo de los enlaces */
        border-radius: 5px; /* Bordes redondeados para los enlaces */
        color: #000; /* Color del texto */
    }
    .title {
        width: 80%;
        margin-left: 10%;
    }

    .texto_image, .texto, .video {
        width: 90%;
        float: none;
    }

    .image_entrenador img {
        width: 80%;
    }

    .contenedor2 {
        width: 90%;
    }

    #contenido {
        margin: 5%;
    }

    .bandera, .escudo {
        width: 40%;
    }

    .momentos {
        text-align: center;
    }

    .video h3 {
        text-align: center; /* Centra el texto horizontalmente */
        margin: 0 auto; /* Centra el elemento horizontalmente */
        margin-top: 55px;
    }

    #video2 {
        margin-left: 45px;
        max-width: 100%;
        width: 100%; /* Ancho fijo en píxeles */
        height: 315px; /* Alto fijo en píxeles */
    }

    #video1 {
        margin: 5px;
        margin-left: 3%;
        max-width: 700px;
        width: 100%;
        height: 315px; /* Alto fijo en píxeles */
    }

    .información_carlo {
        text-align: justify;
        margin-left: 10%;
    }

    .image_entrenador {
        margin-left: 13%;
    }

    .footer {
        position: static; /* Restablece la posición del footer en dispositivos más grandes */
    }

    .titulo {
        text-align: center;
    }

    #contenido {
        margin-left: -30px;
    }

    footer {
        margin: 0;
        width: 100%;
    }
    .image_container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 2%;
    }

    .image_box {
        flex: 1 1 1 calc(33.33%); /* Cada caja de imagen ocupará aproximadamente el 33.33% del ancho disponible menos 20px */
        box-sizing: border-box; /* Incluye el padding y border en el ancho y alto */
        margin: 10px;
    }

    .image_box image{
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
        height: 100px; /* Fija la altura de la imagen */
        object-fit: cover; /* Recorta la imagen para que ocupe todo el contenedor sin distorsionarse */
    }

    /* Ajuste del ancho de la tarjeta */
    .card {
        width: 80%; /* Ajusta el ancho de la tarjeta según tus necesidades */
        max-width: 100%; /* Asegura que no exceda el 100% del contenedor */
        margin: 20px auto; /* Centra la tarjeta horizontalmente con un margen */
    }

    .card img {
        width: 50%; /* Asegura que la imagen dentro de la tarjeta se ajuste al nuevo ancho */
    }
}
