body {
    background: radial-gradient(#1515f6, rgb(4, 4, 161));
    margin: 0;
    font-family: sans-serif;
}

.audio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.card {
    background: linear-gradient(#930D0D,#FFD102, #0034C9);
    text-align: center;
    max-width: 600px;
    margin: 50px auto; /* Centrar la tarjeta horizontalmente */
    padding: 20px 10px;
    box-shadow: 10px 10px 10px 5px #930D0D;
    border-radius: 20px;

}

.titulo {
    font-weight: bold;
    text-align: center;
    color:aquamarine ;
    background-color: transparent;
    border: none;
    margin-top: 30px;
}

.title{
    width:60%;
    color: #fffe;
    background: transparent;
    text-shadow: 10px 10px 10px #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    box-sizing: border-box;
    margin-left: 20%;
}

.resumen{
    font-style: italic;
    text-align: justify;
    text-wrap: wrap;
    margin: 10px;
}

.card_subtitulo {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #00f;
    background-color: transparent;
}

.card_frase{
    color: #00f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.box video {
    max-width: 100%;
    width: 40%;
    flex-wrap: wrap;
    height: auto;
}

.video img{
    width: 50px;
    height: auto;
    padding: 0%;
}

.video span{
    font-size: 20px;
    text-align: center;
}

.texto_image{
    width: 55%;
    text-align: justify;
    float: left;
}

.contenedor_image{
    overflow: hidden; /* Para evitar que el contenedor colapse debido al float */
}

.image_entrenador img{
    width: 40%;
    padding-left: 20px;
    padding-top: 50px;
    flex-wrap: wrap;
}

.nombre{
    padding-top: 40px;
}

.información_carlo{
    color: #fff;
    font-weight: bold;
    margin-left: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.card_contenido {
    font-size: 18px;
    padding: 20px;
    background: rgb(2, 2, 173);
    text-align: justify;
    color: #000;
    background-color: transparent;
    font-weight: bold;
}

.card_imagen {
    width: 200px;
    border-radius: 35px;
    display: block;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.nav {
    margin-top: 100px;
    background: radial-gradient(#1515f6, rgb(4, 4, 161));
    text-align: center; /* Alinea los enlaces al centro */
}

.nav__lista {
    margin: 0;
    padding: 5px;
    list-style-type: none; /* Quita los puntos de la lista */
    flex-wrap: wrap;
}

.nav__jugadores{
    display: inline-block;
    margin: 15px;
}

.nav__item {
    display: inline-block;
    margin: 15px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #48e;
    border-radius: 5px;
    margin: 0 5px; /* Añade espaciado entre enlaces */
    transition: background-color 0.3s ease; /* Añade transición suave */
}

.nav__enlace{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #48e;
    border-radius: 5px;
    margin: 0 5px; /* Añade espaciado entre enlaces */
    transition: background-color 0.3s ease; /* Añade transición suave */
}

.nav__enlace:hover{
    background: linear-gradient(#930D0D, #0034C9);
    color: #ff0c;
    font-weight: bold;
}

.nav__link:hover {
    background: linear-gradient(#930D0D, #0034C9);
    color: #ff0c;
    font-weight: bold;
}

.link__button {
    border: 1px solid #48e; /* Añade borde sólido */
    background-color: #48e;
    padding: 8px 8px; /* Ajusta el padding para un botón más grande */
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

#contenido {
    width: 100%;
    height: 100%;
    padding: 20px; /* Espaciado interno */
    margin-left: 0%;
    margin-bottom: 15%;
    margin-top: 1%;
    background-color: transparent; /* Color de fondo */
}


.image_container {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en dispositivos más pequeños*/
    justify-content: center; /* Centra los image-box horizontalmente */
    position: relative;
}

.contenedor {
    overflow: hidden; /* Para evitar que el contenedor colapse debido al float */
}

.texto {
    width: 58%; /* Ancho del contenedor del texto */
    float: left; /* Flotar a la izquierda */
}

.video {
    width: 40%; /* Ancho del contenedor del video */
    float: right; /* Flotar a la derecha */
    flex-wrap: wrap;
}

.image_box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center; /* Alinea el contenido al centro */
    background: linear-gradient(#930D0D, #0034C9);
    border-radius: 10px;
    box-shadow: 0px 0px 20px #FFD102; /* Sombra suave */
    position: relative;
}

.image{
    width: 70%;
    border-radius: 7px;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    box-shadow: 0px 0px 15px #ff0c;
}

.momentos{
    text-align: justify;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-weight: bold;
}

span{
    color: #0ff;
    font-family: sans-serif;
    text-align: justify;
}

li{
    margin-bottom: 10px;
    color: #cccf;
}

h2{
    text-align: center;
    font-size: 32px;
    color: #ccc;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 32px;
    color: #930D0D;
    font-weight: bold;
}

.bandera {
    width: 20%; /* Ajusta el ancho de la bandera según tus necesidades */
    height: auto; /* Mantiene la proporción */
}
.escudo {
    width: 20%; /* Ajusta el ancho de la bandera según tus necesidades */
    height: auto; /* Mantiene la proporción */
}

.image_info p{
    color: #ff0c;
    text-align: left;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer__content {
    text-align: center;
}

.footer__title {
    margin-bottom: 10px;
}

.footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__item {
    margin-bottom: 5px;
}

.footer__credit {
    text-align: center;
    margin-top: 20px;
}

.footer__credit p {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer__credit a {
    display: block; /* Convertir los enlaces en bloques para que cada uno ocupe una línea */
    margin-bottom: 5px; /* Espacio entre cada enlace */
    text-decoration: none;
    color: #fff;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .card {
        max-width: 90%; /* Reducir el ancho de la tarjeta */
    }
    .title {
        width: 80%; /* Ajustar el ancho del título */
        margin-left: 10%; /* Centrar el título */
    }
    .box video {
        width: 80%; /* Ajustar el ancho del video */
    }
    .texto_image {
        width: 90%; /* Ajustar el ancho del texto */
    }
    .image_entrenador img {
        width: 80%; /* Ajustar el ancho de la imagen del entrenador */
    }
    .contenedor2 {
        width: 90%; /* Ajustar el ancho del contenedor 2 */
    }
    #contenido {
        margin-left: 5%; /* Ajustar el margen izquierdo del contenido */
        margin-bottom: 5%; /* Ajustar el margen inferior del contenido */
        margin-top: 5%; /* Ajustar el margen superior del contenido */
    }
    .texto {
        width: 100%; /* Ancho completo para el texto */
        float: none; /* No flotar el texto */
    }
    .video {
        width: 100%; /* Ancho completo para el video */
        float: none; /* No flotar el video */
    }
    .image_box {
        max-width: 90%; /* Reducir el ancho máximo de la imagen */
    }
    .bandera, .escudo {
        width: 40%; /* Ajustar el ancho de la bandera y el escudo */
    }
}

/* Resto de los estilos */
/* Aquí incluyes tus estilos originales para pantallas más grandes */

